.navBarContainer{
    width: 100%;
    background-color: $primary;
    margin: 0;
    padding: 0;
    height: 60px;
    nav{
        height: inherit;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        a {
            height: inherit;
            color:white;
        }
        #auth-links{
            margin-left: auto;
        }
        .search-bar{
            margin-left: 20px;
            height: 26px;
            width: 20%;
            padding: 2px 8px;
            border: none;
            outline: none;
            border-radius: 5px;
            background-color: lighten($primary, 50%);
            color:$primary;
        }
        .search-bar:focus {
            outline: none;
            box-shadow: 0 0 4px darken($primary,50%);
        }
    }
}
